<!DOCTYPE html>
  <html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Nama Guru</title>
  </head>
<body>

    <div id="app">
        <!-- <button @click="pesan">Tampil Pesan</button> -->
        <h3>Masukkan Nama Guru</h3>
        <form v-on:submit.prevent>
          <input type="text" name="namaSiswa" id="namaSiswa" @keyup.enter="simpan" v-model="guru">
          <button type="button" @click="simpan">Simpan</button>
        </form>
        <br><br>
        <table border="1" style="border-collapse: collapse" v-if="dataGuru.length > 0">
          <tr>
            <thead>
              <th style="width: 30px">#</th>
              <th style="width: 200px">Nama Guru</th>
            </thead>
          </tr>
          <tr>
            <tbody v-for="(guru, index) in dataGuru" :key="index">
              <td>{{index+1}}</td>
              <td> {{guru}} </td>
            </tbody>
          </tr>
        </table>
        <h4 v-else>Tidak ada data</h4>
    </div>

    <script src="app6.js"></script>

</body>
</html>